[submodule "docgen"]
	path = docgen
	url = https://gitlab.redox-os.org/redox-os/docgen.git
[submodule "pkgutils"]
	path = pkgutils
	url = https://gitlab.redox-os.org/redox-os/pkgutils.git
	branch = master
