[submodule "rust"]
	path = rust
	url = https://github.com/redox-os/rust.git
[submodule "libstd"]
	path = libstd
	url = https://github.com/redox-os/libstd.git
[submodule "ralloc"]
	path = ralloc
	url = https://github.com/redox-os/ralloc
[submodule "ion"]
	path = ion
	url = https://github.com/redox-os/ion.git
