*.bin
*.gen
*.list
*.log
*.o
*.so
*.pcap
*.rlib
*.vdi
*.orig
*.local
*.img
*.iso
.directory
.DS_Store
bx_enh_dbg.ini
libc/build/
setup/rust/
build
filesystem/apps/pixelcannon/assets/
filesystem/bin/
filesystem/lib/
filesystem/ref/
initfs/bin/
initfs/build/
target
*.swp
doc
