initfs:bin/pcid initfs:etc/pcid.toml
initfs:bin/redoxfs disk:0
initfs:bin/pcid file:etc/pcid.toml
file:bin/vesad
file:bin/ps2d
file:bin/ethernetd
file:bin/ipd
file:bin/tcpd
file:bin/udpd
file:bin/getty display:1
file:bin/orbital display:2
