export PATH /bin
export TMPDIR /tmp
nulld
zerod
randd
inputd
vesad G G G
fbcond 1 2
logd debug: fbcon:1
stdio log:
ramfs logging
lived
redoxfs --uuid $REDOXFS_UUID file $REDOXFS_BLOCK
cd file:
export PATH file:/bin
run.d /etc/init.d
