/sbin/randd
/sbin/ptyd
/sbin/pcid /etc/pcid.toml
/sbin/ethernetd
/sbin/ipd
/sbin/tcpd
/sbin/udpd
dhcpd -b
httpd -b /ref
getty display:2
getty display:3
stdio debug:
/sbin/orbital display:4 /ui/bin/orblogin /ui/bin/launcher
