/sbin/randd
/sbin/ptyd
/sbin/pcid /etc/pcid.toml
/sbin/ethernetd
/sbin/ipd
/sbin/tcpd
/sbin/udpd
dhcpd -b
getty display:2
getty display:3
/sbin/orbital display:4/activate /ui/bin/orblogin /ui/bin/launcher
getty debug: -J
