export PATH /scheme/initfs/bin
export TMPDIR /tmp
nulld
zerod
randd
inputd
vesad G G G
fbcond 1 2
logd /scheme/debug /scheme/fbcon/1
stdio /scheme/log
ps2d us
ramfs logging
acpid
pcid /scheme/initfs/etc/pcid/initfs.toml
lived
redoxfs --uuid $REDOXFS_UUID file $REDOXFS_BLOCK
cd /
export PATH /bin
run.d /usr/lib/init.d /etc/init.d
