# Various daemons that relibc needs to function as well as a bunch of env vars
# that should be set for every program.
export PATH /bin
export RUST_BACKTRACE 1
rtcd
nulld
zerod
randd

# Logging
logd
stdio /scheme/log
ramfs logging

# Graphics infrastructure
inputd
vesad
unset FRAMEBUFFER_ADDR FRAMEBUFFER_VIRT FRAMEBUFFER_WIDTH FRAMEBUFFER_HEIGHT FRAMEBUFFER_STRIDE
#TODO: unset FRAMEBUFFER1 and beyond?
fbbootlogd
inputd -A 1
fbcond 2

# Live disk
# Note: Needs to start before drivers to ensure it gets priority when redoxfs searches for disks
lived

# Drivers
run /scheme/initfs/etc/init_drivers.rc
unset RSDP_ADDR RSDP_SIZE

# Mount rootfs
redoxfs --uuid $REDOXFS_UUID file $REDOXFS_BLOCK
unset REDOXFS_UUID REDOXFS_BLOCK REDOXFS_PASSWORD_ADDR REDOXFS_PASSWORD_SIZE

# Exit initfs
set-default-scheme file
cd /
export PATH /usr/bin
run.d /usr/lib/init.d /etc/init.d
