[Desktop Entry]
Name=Pacman SDL
GenericName=Arcade Game
Comment=Clone of the well known arcade game in SDL
Exec=/usr/bin/pacman_sdl
Icon=/opt/pacman_v4/icon.png
Terminal=false
Type=Application
Categories=Game;

